.container{
  background-color: #000;
  height: 100vh;
  display: flex;
}

.outer-container{
   margin: auto;
  
  }
.main-container{
   background-color: white;

  width: 300px;

  padding: 40px;
  
}


.sunshine-bliss{
  color: #777777;
  font-size: 10px;
}



.radio-input {
  /* accent-color:#ff6b82; */
  accent-color: #ff5973;
  width: 20px;
}

.custom-select {
  width: 75px;
  padding: 5px;
  border-color: #d9d9d9;
  border-radius: 2px;

}

.select-container {
  display: flex;
margin-bottom: 20px;
  gap: 10px;
}

label {
  margin-left: px;
}

.size-selector {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.color-selector {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.size {
  margin-left: 32px;
}

.select-with-number {
  display: flex;
  align-items: center;
  justify-content: space-between;



}

.number {
  margin-right: 10px;
}

/* css about the card */

.clicked{
  background-color:#fff9fa;
}

.expandable-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #dcdcdc;
  border-radius: 2px;
  margin-bottom: 20px;
}



.most-popular {
  background-color: #ff6b82;
  text-align: center;
  color: white;
  content: "MOST POPULAR"; /* Use the data-text attribute to set the content */
  position: absolute;
  top: -9px; /* Adjust the position vertically */
  right: 19%; /* Center the text horizontally */
  transform: translateX(50%); /* Center the text horizontally */
  padding: 0 10px; /* Add padding to the text */
  font-size: 8px; /* Adjust font size */
  padding: 4px;
  font-weight: 500;
  border-radius: 2px ;
  width: 90px;
  font-size: 10px;

}


.most-before{
  
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 5px solid #d25a6d;
  transform: rotate(135deg);
  position: absolute;
  left:-6px;
  top: 3px;
}
.most-after{
  
  width: 10; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 5px solid #d25a6d;
  transform: rotate(-135deg);
  position: absolute;
  right:-6px;
  top: 3px;
}

.card-header {

  /* border: 2px solid #dcdcdc; */
  
height:min-content;
  width: -webkit-fill-available;

}

.card-details {
margin: 5px;
  padding: 10px;
  display: flex;
  align-items: center;

  justify-content: space-between;

}

.radio-title-off {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  line-height: 18px;
}


.title{
  font-weight: bold;
  /* font-size: 15px; */
}
.off{
  color:white;
  background-color: #ff6b82;
  margin: 10px;
  padding: 1px 6px 1px 2px;
  font-size: smaller;
  font-weight: 200;
  
 
}
.subtitle{
  font-size: 12.5px;
  font-weight: 500;
}
.price{
  font-weight: bold;
  font-size: 15px
}
.discounted{
  color:#b7b7b7;
  text-decoration: line-through;
  
  font-size: 10px;
  line-height: 18px;

  
}

/* border text yaya it bogo */

.bordered-text {
  position: relative;
  text-align: center;
  color: #ff5973;
  font-weight: bold;
  margin-bottom: 20px;
}

.bordered-text::before,
.bordered-text::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 28%;
  height: 1px;
  background-color: #cfcfcf;
}

.bordered-text::before {
  left: 0;
 
  transform: translateY(-50%);
}

.bordered-text::after {
  right: 0;
  transform: translateY(-50%);
}


/* delivery total css */


.delivery-total-contaner{
  display: flex;
  justify-content: space-between;
  margin: 2px;
}

.free-delivery-text{
  color: #ff6b82;
}
.total-price-text{
  font-weight: bold;
  
}

/* add to cart css  */


.add-to-cart{
  background-color: #ff6b82;
  width:-webkit-fill-available;
  color: #fff;
  margin: 10px 0px 5px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.powered-by-pumper{
  text-align: end;
  color: #acabab;
  font-style: italic;
  font-size: 12px;
  margin-right: 4px;
}

.plus-add-to-cart{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:16px
}



@media screen and (max-width: 600px) {
  .bordered-text::before,
  .bordered-text::after {
    
    /* width: 35%; */
  }
}

@media screen and (min-width: 900px) {
  .bordered-text::before,
  .bordered-text::after {
    /* width: 40%; */
  }
}
@media screen and (min-width: 1200px) {
  .bordered-text::before,
  .bordered-text::after {
    /* width: 45%; */
  }
}



